﻿<div class="row">
	<div class="col-md-6">
		<fieldset>
			<legend></legend>
			<div class="row">
				<div class="col-md-4">
					@Html.Partial("_Tile", new TileModel("success", "Founders View", "ONLINE", Url.Action("FoundersView")))
				</div>
				<div class="col-md-4">
					@Html.Partial("_Tile", new TileModel("danger", "Chloorkop", "OFFLINE"))
				</div>
				<div class="col-md-4">
					@Html.Partial("_Tile", new TileModel("danger", "Worcester", "OFFLINE"))
				</div>
			</div>
		</fieldset>
	</div>
</div>