﻿@using NewEra.Common.Dtos
@model RefrigerationViewModel

<br/>
<fieldset>
	<legend><a href="@Model.BackUrl"><span class="glyphicon glyphicon-chevron-left"></span></a> Refrigeration - @Model.TimeStamp.ToString("yyyy/MM/dd HH:mm:ss") </legend>
	<div>
		<table class="table">
			<thead>
				<tr>
					<th><h4>Facility</h4></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var freezer in Model.RefrigerationData.Freezers)
				{
					<tr>
						<td class="freezer">
							@($"{freezer.FreezerName} {(freezer.Online == false ? "(Offline)" : "")}")
						</td>
						@foreach (var sensor in freezer.Sensors.OfType<RefrigerationData.TemperatureSensor>())
						{
							<td class="sensor @sensor.Temperature.Status">
								@sensor.Temperature.ToString()<br />
								@sensor.Name
							</td>
						}
						@for (int i = 0; i <= Model.RefrigerationData.MaxNumberOfFreezerSensors - freezer.Sensors.Count; i++)
						{
							<td></td>
						}
					</tr>
				}
			</tbody>
		</table>
		<table class="table">
			<thead>
				<tr>
					<th><h4>Vehicles</h4></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var vehicle in Model.RefrigerationData.Vehicles)
				{
					<tr>
						<td class="vehicle">@vehicle.NumberPlate</td>
						@foreach (var sensor in vehicle.Sensors.OfType<RefrigerationData.TemperatureSensor>())
						{
							<td class="sensor @sensor.Temperature.Status">
								@sensor.Temperature.ToString()<br />
								@sensor.Name
							</td>
						}
						@for (int i = 0; i <= Model.RefrigerationData.MaxNumberOfFreezerSensors - vehicle.Sensors.Count; i++)
						{
							<td></td>
						}
					</tr>
				}
			</tbody>
		</table>
	</div>
</fieldset>
<br />
<br />