﻿<div>
	<h3><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-chevron-left"></span></a> Founders View</h3>
	<br />
	<div class="row">
		<div class="col-md-4">
			@Html.Partial("_Tile", new TileModel("success", "Refrigeration", "ONLINE", Url.Action("Refrigeration")))
		</div>
		<div class="col-md-4">
			@Html.Partial("_Tile", new TileModel("danger", "Spiral Freezer", "OFFLINE"))
		</div>
		<div class="col-md-4">
			@Html.Partial("_Tile", new TileModel("danger", "Alarm System", "OFFLINE"))
		</div>
		<div class="col-md-4">
			@Html.Partial("_Tile", new TileModel("danger", "Power & Water", "OFFLINE"))
		</div>
		<div class="col-md-4">
			@Html.Partial("_Tile", new TileModel("danger", "Generators", "OFFLINE"))
		</div>
		<div class="col-md-4">
			@Html.Partial("_Tile", new TileModel("danger", "CCTV", "OFFLINE"))
		</div>
	</div>
</div>
@Html.Partial("_DetailModal")