﻿@model TileModel

<div data-tile
     data-link-url="@Model.Url">
	
	@if (Model.Url != null)
	{
		@:<a href="#" class="@Model.LinkType">
	}

	<div class="panel panel-@Model.Style">
		<div class="panel-heading">
			<h2 class="panel-title" style="font-weight: bold">@Model.Title</h2>
		</div>
		<div class="panel-body">
			<div class="text-center">
				<h2>@Model.Contents</h2>
			</div>
		</div>
	</div>

	@if (Model.Url != null)
	{
		@:</a>
	}

</div>