﻿.navbar-inverse {
	background-color: #20408c !important;
}

	.navbar-inverse .navbar-brand {
		color: #ee5727 !important;
	}

body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

a:hover,
a:focus {
	color: #2a6496;
	text-decoration: none;
}

td.sensor {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 14px;
}

	td.sensor.temp-high {
		background-color: rgb(242, 3, 3) !important;
	}

	td.sensor.temp-medium {
		background-color: rgb(255, 165, 0) !important;
	}

	td.sensor.temp-low {
		background-color: rgb(33, 187, 44) !important;
	}

	td.sensor.temp-invalid {
		background-color: black;
	}

td.vehicle,
td.freezer {
	font-weight: bold;
	vertical-align: middle !important;
}
